*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Typography */

h1 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}

h3 {
  color: #2f89fc;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

/* 
  *********
    Layout
  *********
*/
.wrapper {
  max-width: 1000px;
  margin: 1rem auto;
}

/* Header & Footer */
header {
  padding: .5rem 1rem;
  background-color: rgb(3,37,65);
  box-shadow: 0 9px 10px rgba(0,0,0,.2);
}

/* Aside*/
aside {
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  /* border-radius: 10px; */
}

/* Footer */
footer {
  padding: .5rem 1rem;
  background-color: #f5f5f5;
}

/* 
  *********
    Form
  *********
*/
.form-container {
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
  padding: 1px;
}

.form-container:not(:last-child) {
  margin-bottom: .5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  position: relative;
}

input[type="search"] {
  font-family: inherit;
  width: 100%;
  height: 30px;
  padding: .25rem;
  font-weight: 500;
}

.label-radio {
  font-size: .75rem;
  font-weight: 400;
  display: inline-block;
  padding: .25rem .5rem;
  border: 1px solid #40514e;
  border-radius: 50px;
  cursor: pointer;
  margin: .25rem;
  text-transform: capitalize;
  letter-spacing: .7px;
}

.label-radio:hover,
.label-radio:focus {
  background-color: #2f89fc;
  border-color: #2f89fc;
  color: #ffffff;
}

input[type="radio"] {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
}

input[type="radio"]:checked ~ .label-radio {
  background-color: #2f89fc;
  border-color: #2f89fc;
  color: #ffffff;
}

/* 
  *********
    Card
  *********
*/

.cards {
  width: 100%;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  position: relative;
  border-radius: 10px;
}

.card-title {
  margin: .5rem 1rem;
  font-weight: 700;
  font-size: 1rem;
}

.card-image {
  order: -1;
  height: 250px;
  background-color: rgba(0,0,0,.1);
  background-image: url('../images/image.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-release-date {
  margin: .5rem 1rem;
  font-size: .85rem;
  color: rgba(0,0,0,.7);
}

.card-rating {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  background-color: rgba(0,0,0,.7);
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rating {
  font-weight: 700;
  font-size: .75rem;
}
