*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Typography */

h1 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #30e3ca;
  position: relative;
  display: inline-block;
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #2f89fc, #30e3ca);
}

h2 {
  color: #30e3ca;
  font-size: 1.50rem;
  margin-bottom: .5rem;
}

h3 {
  color: #2f89fc;
  font-size: 1rem;
  margin-bottom: .5rem;
}

/* 
  *********
    Layout
  *********
*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(1px, calc(1200px / 5)));
  justify-content: center;
  grid-template-areas: 
    "header header header header header"
    "heading heading heading heading heading"
    "aside main main main main"
    "footer footer footer footer footer";
  grid-gap: 1rem;
}

/* Header */
header {
  grid-area: header;
  position: relative;
  padding: 1rem;
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

header .logo {
  width: fit-content;
  height: 30px;
  position: relative;
}

header .logo svg {
  height: 100%;
  width: auto;
}

.heading {
  grid-area: heading;
}

/* Aside */
aside {
  grid-area: aside;
  background-color: #f5f5f5;
  padding: .5rem;
  border-radius: 10px;
}

/* Main */
main {
  grid-area: main;
}

/* Footer */
footer {
  grid-area: footer;
}

/* 
  *********
    Form
  *********
*/
.form-container {
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
  padding: 1px;
}

.form-container:not(:last-child) {
  margin-bottom: .5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  position: relative;
}

input[type="search"] {
  font-family: inherit;
  width: 100%;
  height: 30px;
  padding: .25rem;
  font-weight: 500;
}

.label-radio {
  font-size: .90rem;
  display: inline-block;
  padding: .25rem .5rem;
  border: 1px solid #40514e;
  background-color: #e7eceb;
  border-radius: 50px;
  cursor: pointer;
  margin: .25rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: .7px;
  transition: background 250ms;
}

.label-radio:hover,
.label-radio:focus {
  background-color: #c1cecc;
}

input[type="radio"] {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
}

input[type="radio"]:checked ~ .label-radio {
  background-color: #c1cecc;
}
